@tailwind base;
@tailwind components;
@tailwind utilities;

/* Write custom base/ component/ utility styles with `@layer` directive */

@layer base {

  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  textarea,
  select {
    @apply border-gray-300 focus:border-blue-500 focus:ring-blue-500 rounded-lg shadow-sm;
  }

  [type="checkbox"],
  [type="radio"] {
    @apply border-gray-300 focus:ring-blue-500 h-5 text-blue-600 w-5;
  }

  [type="checkbox"] {
    @apply rounded-sm;
  }

  [type="radio"] {
    @apply rounded-full;
  }

  body {
    @apply text-dark bg-light;
    font-family: "Cairo", sans-serif;
  }

  h1 {
    @apply font-bold text-xl-mobile lg:text-xl;
  }
  h2 {
    @apply text-lg-mobile lg:text-lg font-medium;
  }
  p {
    @apply text-sm-mobile lg:text-sm opacity-70;
  }
}

@layer components {
  .layout-container {
    @apply max-w-[1366px] mx-auto px-4 min-h-screen;
  }
  .radial-gradient {
    background: radial-gradient(50% 50% at 50% 50%, rgba(238, 238, 238, 0) 0%, #E4E4E4 100%);
  }
  .overlay-gradient {
    background: linear-gradient(-300deg, #e8e8e7 13.02%, rgba(255, 255, 255, 0) 82.43%);
  }
  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    scrollbar-color: transparent transparent;
  }
  .color-overlay {
    background-color: yellow;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
}

ul {
  @apply list-disc;
  @apply px-8
}
